span {
    font-size: 24px;
    background: linear-gradient(to right, blue 50%, red 50%);
    background-size: 200%;
}

div {
    width: 100%;
    font-size: 24px;
    background-color: blue;
}

span:hover {
    background-position: -100%;
    transition: 0.5s;
}

div:hover {
    background: red;
    transition: 1s;
}